@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary: #0c23c6;
  --z-modal: 200;
  --z-navbar: 100;
  --z-loader: 300;
  --z-alert: 400;
  --border-color: #dddddd;
  --warning-color: #dc3545 !important;
  --success-alert-primary: #01c952;
  --success-alert-secondary: #78e2a9;
  --failure-alert-primary: #fe5623;
  --failure-alert-secondary: #f8ad92;
}
//alerts
.alert-container {
  position: absolute;
  top: -200px;
  width: 100%;
  z-index: var(--z-alert);
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;
  text-align: center;
  .alert {
    margin: 0 10px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #f6f6f6;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 3px 5px 9px 0px #787878;
    transition: transform 500ms ease-out;
    &.show {
      transform: translateY(250px);
    }
    .icon-container {
      border-radius: 50%;
      padding: 3px;
      margin-right: 10%;
      width: fit-content;
      border-radius: 100px;
      .img-container {
        background-color: var(--success-alert-primary);
        padding: 8px;
        border-radius: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img,
        svg {
          width: 24px;
        }
      }
    }
    .alert-text {
      font-weight: 500;
      font-family: "roboto";
    }
    .close-alert-btn {
      position: absolute;
      right: 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      img {
        width: 25px;
      }
    }
  }
  .success-alert {
    position: absolute;
    top: 0;
    .icon-container {
      border: 4px solid var(--success-alert-secondary);
      .img-container {
        background-color: var(--success-alert-primary);
        img {
          width: 28px;
        }
      }
    }
    .alert-text {
      color: var(--success-alert-primary);
    }
  }
  .failure-alert {
    position: absolute;
    top: 0;
    .icon-container {
      border: var(--failure-alert-secondary) 4px solid;
      .img-container {
        background-color: var(--failure-alert-primary);
        padding: 4px;
        img {
          width: 32px;
        }
      }
    }
    .alert-text {
      color: var(--failure-alert-primary);
    }
  }
}
//loader
.loader-container {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.8);
  z-index: var(--z-loader);
  &.show {
    display: block;
  }
  .loader {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #ccc;
    border-right-color: #888;
    border-radius: 22px;
    -webkit-animation: rotate 1s infinite linear;
    /* left, top and position just for the demo! */
    position: absolute;
    left: 50%;
    top: 50%;
  }

  @-webkit-keyframes rotate {
    /* 100% keyframe for  clockwise. 
       use 0% instead for anticlockwise */
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
}
//modal
.add-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.8);
  z-index: var(--z-modal);

  opacity: 0;
  display: none;
  &.show {
    display: block;
    transition: opacity 4s;
    animation-name: modal-bd;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
  }
}
.add-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  opacity: 0;
  transform: translate(-50%, calc(-50% + -100px));
  background-color: white;
  border-radius: 20px;
  padding: 50px 75px;
  z-index: calc(var(--z-modal) + 1);
  display: none;
  &.show {
    display: block;
    animation-name: modal;
    animation-duration: 500ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
  }
  .close-modal-btn {
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    img {
      width: 30px;
    }
  }
}
.add-modal-content {
  font-family: "roboto";
  .heading {
    font-family: rockwell;
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 500;
  }
  label {
    font-size: 0.8rem;
    font-weight: 500;
    color: #777777;
    font-family: "roboto";
    display: block;
    margin-bottom: 4px;
  }
  .title-input-wrapper {
    margin-bottom: 24px;
    .title-input {
      display: block;
      border: 2px solid #dddddd;
      border-radius: 3px;
      padding: 10px 3px;
      width: 100%;
    }
  }
  .repeat-input-wrapper {
    margin-bottom: 24px;

    .days-picker {
      display: flex;
      width: 100%;
      overflow: hidden;

      button {
        background-color: transparent;
        color: black;
        padding: 12px 0;
        width: 50px;
        text-align: center;
        font-family: "roboto";
        font-weight: 400;
        font-size: 0.75rem;
        margin-right: 2px;
        border: 1px solid var(--border-color);
        &:hover {
          cursor: pointer;
          background-color: #cfcfcf;
        }
        &:last-child {
          margin-right: 0;
        }
        &.checked {
          color: white;
          background-color: var(--primary);
          border: 1px solid var(--primary);
        }
      }
    }
  }
  .reminder-input-wrapper {
    .reminder-time-input {
      border: 2px solid var(--border-color);
      border-radius: 3px;
      padding: 10px 15px;
    }
  }

  .btn-wrapper {
    margin-top: 50px;
    button {
      padding: 10px;
      width: 130px;
      font-family: "roboto";
      border: 2px solid var(--primary);
      background-color: white;
      border-radius: 50px;
      font-size: 1rem;
    }
    .submit-btn {
      background-color: var(--primary);
      color: white;
      margin-right: 16px;
    }
    .cancel-btn {
      border-color: #ff5252;
    }
  }
}

@keyframes modal-bd {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes modal {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + -100px));
  }
  100% {
    opacity: 1;
    transform: translate(-50%, calc(-50%));
  }
}
img {
  display: block;
  font-size: 0rem;
}
button {
  &:hover {
    cursor: pointer;
  }
}
input {
  &:focus {
    outline: none;
  }
}
body {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #0c23c6;

  position: fixed;
  top: 0;
  left: 0;

  z-index: var(--z-navbar);

  height: 100%;

  padding: 50px 16px;

  .navitem {
    margin-bottom: 20px;
    img {
      width: 35px;
    }
  }
}
.container {
  padding: 32px 80px 50px 180px;
  height: 100%;
}
.header {
  font-family: "rockwell";
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .heading {
    h1 {
      display: inline;
      font-size: 3.75rem;
    }
    span {
      margin-right: 7px;
      font-size: 3.75rem;
      color: #5a5a5a;
    }
  }
  .logout-btn {
    display: flex;
    align-items: center;
    border: 2px solid #dbdbdb;
    border-radius: 8px;
    padding: 10px 12px;
    background: transparent;
    &:hover {
      transition: all 300ms;
      background-color: #484848;
      border-color: #484848;
      span {
        transition: all 300ms;
        color: white;
      }
      svg {
        path {
          transition: all 300ms;
          fill: white;
        }
      }
    }
    span {
      font-size: 1.875rem;
      color: #484848;
    }
    img,
    svg {
      display: block;
      font-size: 0rem;
      margin-left: 10px;
      width: 20px;
    }
  }
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 40px 0 0;
}
.habits-container {
  width: 100%;
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    .heading {
      font-size: 1.5rem;
      font-family: "rockwell";
    }
    .add-btn {
      display: flex;
      align-items: center;
      background-color: #0c23c6;
      color: white;
      border: none;
      padding: 12px 25px;
      border-radius: 60px;
      span {
        font-size: 1.375rem;
      }
      .icon img {
        width: 24px;
        margin-left: 4px;
      }
    }
  }
  .habits-list {
    margin-top: 40px;
    padding: 0 20px;
    height: auto;
  }
}
.illustration-container {
  width: 100%;
  img {
    width: 100%;
  }
}
.habit {
  border: 3px solid #dbdbdb;
position: relative;
  font-family: "lato";
  padding: 15px 40px;
  border-radius: 160px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  user-select: none;
  &.completed {
    border: 3px solid var(--success-alert-secondary);
    .habit-checkbox {
      img,
      svg {
        display: block !important;
      }
    }
    .wrapper {
      .title span {
        text-decoration: line-through;
        color: #909090;
      }
      .repeat-info span {
        color: #c7c7c7;
      }
    }
    .reminder-time {
      svg path {
        fill: #b4b4b4;
      }
      span {
        color: #b4b4b4;
      }
    }
  }
  .habit-checkbox {
    border: var(--border-color) 2px solid;
    border-radius: 3px;
    width: 2rem;
    height: 2rem;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    img,
    svg {
      display: none;
      width: 110%;
      position: absolute;
      bottom: 2px;
      left: 5px;
    }
  }
  .wrapper {
    margin-left: 10%;
    .title span {
      color: #143162;
      font-size: 1.5rem;
      font-weight: 700;
    }
    .repeat-info {
      display: flex;
      align-items: center;
      margin-top: 5px;
      span {
        font-size: 0.8rem;
        font-weight: 400;
        color: #878787;
        margin-left: 4px;
      }
    }
  }
  .reminder-time {
    &:focus{
      margin-left: 0;
    }
    margin-left: auto;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .bell-icon {
      width: 30px;
      svg,
      img {
        width: 100%;
      }
    }
    span {
      color: #606060;
      font-size: 0.7rem;
      display: block;
    }
  }

    
    .delete-habit-btn{
      position: absolute;
    right: 0.3rem;
   
      width: 2rem;
      background-color: transparent;
      border: none;
      margin-left: 1.5rem;
      svg{
        width: 1.3rem;
      }

    
  }
}
.login-container {
  height: 100%;
  padding: 80px 0;
}

.login-wrapper {
  display: flex;
  max-width: 900px;
  margin: 0px auto 0px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 100%;
  .left {
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    position: relative;
    .img-container {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
      }
    }
    .wave-1 {
      position: absolute;
      top: 0;
      left: 0;
      img {
        max-width: 200px;
      }
    }
    .wave-2 {
      position: absolute;
      right: 0;
      bottom: 0;
      img {
        max-width: 200px;
      }
    }
  }
  .right {
    width: 100%;
    padding: 10%;

    .heading {
      font-family: "rockwell";
      font-weight: 400;
      font-size: 2rem;
      margin-bottom: 20px;
    }
    .login-form {
      display: flex;
      flex-direction: column;
      font-family: "roboto";
      .username-input-wrapper {
        position: relative;
        margin-bottom: 16px;
      }
      .password-input-wrapper {
        position: relative;
        margin-bottom: 16px;
      }
      label {
        font-size: 0.7rem;
        font-weight: 400;
        color: #777777;
        margin: 0px 0 3px 1px;
        display: block;
      }
      input {
        border: 2px solid #dddddd;
        border-radius: 3px;
        padding: 10px;
        display: block;
        width: 100%;
      }
      .warning {
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        font-size: 0.7rem;
        margin: 0px 0 0 3px;
        color: var(--warning-color);
        opacity: 0;
        transition: opacity 300ms;
        &.show {
          opacity: 1;
        }
      }
      a {
        text-decoration: none;
      }
      .forgot-password {
        position: absolute;
        top: calc(100% + 3px);
        width: 100%;
        a {
          float: right;
          color: #777777;
          font-size: 0.7rem;
        }
      }
      .login-btn {
        margin-top: 40px;
        background-color: #0c23c6;
        color: white;
        border: none;
        border-radius: 3px;
        padding: 10px;
      }
      .signup-link {
        font-size: 1rem;
        text-align: center;
        margin-top: 24px;
        span {
        }
        a {
          color: #09177a;
          font-weight: 500;
        }
      }
    }
  }
}
.signup-container {
  height: 100vh;
  padding: 60px 0;
}

.signup-wrapper {
  display: flex;
  max-width: 900px;
  margin: 0px auto 0px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 100%;
  .left {
    overflow: hidden;
    border-radius: 40px 0 0 40px;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    position: relative;
    z-index: -2;
    .img-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      img {
        width: 100%;
      }
    }
    .wave-1 {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      img {
        max-width: 200px;
      }
    }
    .wave-2 {
      position: absolute;
      right: 0;
      bottom: 0;
      img {
        max-width: 200px;
      }
    }
  }
  .right {
    width: 100%;
    padding: 5% 10% 0;

    .heading {
      font-family: "rockwell";
      margin-bottom: 12px;
      font-weight: 400;
      font-size: 2rem;
    }
    .signup-form {
      display: flex;
      flex-direction: column;
      font-family: "roboto";
      .username-input-wrapper {
        position: relative;
        margin-bottom: 16px;
      }
      .password-input-wrapper {
        position: relative;
        margin-bottom: 16px;
      }
      .mobile-input-wrapper {
        position: relative;
        margin-bottom: 16px;
      }
      label {
        font-size: 0.7rem;
        font-weight: 400;
        color: #777777;
        margin: 0px 0 3px 1px;
        display: block;
      }
      input {
        border: 2px solid #dddddd;
        border-radius: 3px;
        padding: 10px;
        display: block;
        width: 100%;
      }
      .warning {
        position: absolute;
        top: calc(100% + 2px);
        left: 0;
        font-size: 0.7rem;
        margin: 0px 0 0 3px;
        color: var(--warning-color);
        opacity: 0;
        transition: opacity 300ms;
        &.show {
          opacity: 1;
        }
      }
      .iti {
        width: 100%;
      }
      .mobile-input {
        width: 100%;
        padding-left: 40px;
      }
      a {
        text-decoration: none;
      }
      .signup-btn {
        margin-top: 25px;
        background-color: #0c23c6;
        color: white;
        border: none;
        border-radius: 3px;
        padding: 10px;
      }
      .login-link {
        font-size: 1rem;
        text-align: center;
        margin-top: 16px;
        span {
        }
        a {
          color: #09177a;
          font-weight: 500;
        }
      }
    }
  }
}
