@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #0c23c6;
  --z-modal: 200;
  --z-navbar: 100;
  --z-loader: 300;
  --z-alert: 400;
  --border-color: #dddddd;
  --warning-color: #dc3545 !important;
  --success-alert-primary:#01C952;
  --success-alert-secondary:#78E2A9;
  --failure-alert-primary:#FE5623;
  --failure-alert-secondary:#F8AD92;
}

.alert-container {
  position: absolute;
  top: -200px;
  width: 100%;
  z-index: var(--z-alert);
  left: 50%;
  transform: translateX(-50%);
  max-width: 600px;
  text-align: center;
}
.alert-container .alert {
  margin: 0 10px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  padding: 10px 20px;
  box-shadow: 3px 5px 9px 0px #787878;
  transition: transform 500ms ease-out;
}
.alert-container .alert.show {
  transform: translateY(250px);
}
.alert-container .alert .icon-container {
  border-radius: 50%;
  padding: 3px;
  margin-right: 10%;
  width: fit-content;
  border-radius: 100px;
}
.alert-container .alert .icon-container .img-container {
  background-color: var(--success-alert-primary);
  padding: 8px;
  border-radius: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-container .alert .icon-container .img-container img, .alert-container .alert .icon-container .img-container svg {
  width: 24px;
}
.alert-container .alert .alert-text {
  font-weight: 500;
  font-family: "roboto";
}
.alert-container .alert .close-alert-btn {
  position: absolute;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.alert-container .alert .close-alert-btn img {
  width: 25px;
}
.alert-container .success-alert {
  position: absolute;
  top: 0;
}
.alert-container .success-alert .icon-container {
  border: 4px solid var(--success-alert-secondary);
}
.alert-container .success-alert .icon-container .img-container {
  background-color: var(--success-alert-primary);
}
.alert-container .success-alert .icon-container .img-container img {
  width: 28px;
}
.alert-container .success-alert .alert-text {
  color: var(--success-alert-primary);
}
.alert-container .failure-alert {
  position: absolute;
  top: 0;
}
.alert-container .failure-alert .icon-container {
  border: var(--failure-alert-secondary) 4px solid;
}
.alert-container .failure-alert .icon-container .img-container {
  background-color: var(--failure-alert-primary);
  padding: 4px;
}
.alert-container .failure-alert .icon-container .img-container img {
  width: 32px;
}
.alert-container .failure-alert .alert-text {
  color: var(--failure-alert-primary);
}

.loader-container {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: var(--z-loader);
}
.loader-container.show {
  display: block;
}
.loader-container .loader {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  /* left, top and position just for the demo! */
  position: absolute;
  left: 50%;
  top: 50%;
}
@-webkit-keyframes rotate {
  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.add-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: var(--z-modal);
  opacity: 0;
  display: none;
}
.add-modal-backdrop.show {
  display: block;
  transition: opacity 4s;
  animation-name: modal-bd;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

.add-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  opacity: 0;
  transform: translate(-50%, calc(-50% + -100px));
  background-color: white;
  border-radius: 20px;
  padding: 50px 75px;
  z-index: calc(var(--z-modal) + 1);
  display: none;
}
.add-modal.show {
  display: block;
  animation-name: modal;
  animation-duration: 500ms;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}
.add-modal .close-modal-btn {
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
}
.add-modal .close-modal-btn img {
  width: 30px;
}

.add-modal-content {
  font-family: "roboto";
}
.add-modal-content .heading {
  font-family: rockwell;
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 500;
}
.add-modal-content label {
  font-size: 0.8rem;
  font-weight: 500;
  color: #777777;
  font-family: "roboto";
  display: block;
}
.add-modal-content .title-input-wrapper label {
  margin-bottom: 4px;
}
.add-modal-content .title-input-wrapper .title-input {
  display: block;
  border: 2px solid #dddddd;
  border-radius: 3px;
  padding: 10px 3px;
  width: 100%;
  margin-bottom: 32px;
}
.add-modal-content .repeat-input-wrapper {
  margin-bottom: 32px;
}
.add-modal-content .repeat-input-wrapper label {
  margin-bottom: 4px;
}
.add-modal-content .repeat-input-wrapper .days-picker {
  display: flex;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}
.add-modal-content .repeat-input-wrapper .days-picker button {
  background-color: transparent;
  color: black;
  padding: 10px 0;
  width: 50px;
  text-align: center;
  font-family: "roboto";
  font-weight: 400;
  font-size: 0.75rem;
  margin-right: 2px;
  border: 1px solid var(--border-color);
}
.add-modal-content .repeat-input-wrapper .days-picker button:hover {
  cursor: pointer;
  background-color: #cfcfcf;
}
.add-modal-content .repeat-input-wrapper .days-picker button:last-child {
  margin-right: 0;
}
.add-modal-content .repeat-input-wrapper .days-picker button.checked {
  color: white;
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.add-modal-content .set-reminder-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.add-modal-content .set-reminder-input-wrapper .custom-checkbox {
  border: 2px solid var(--border-color);
  width: 25px;
  height: 25px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.add-modal-content .set-reminder-input-wrapper .custom-checkbox:hover {
  cursor: pointer;
}
.add-modal-content .set-reminder-input-wrapper .custom-checkbox.checked img {
  display: block;
}
.add-modal-content .set-reminder-input-wrapper .custom-checkbox img {
  width: 20px;
  display: none;
}
.add-modal-content .reminder-time-input-wrapper {
  display: none;
}
.add-modal-content .reminder-time-input-wrapper.show {
  display: block;
}
.add-modal-content .reminder-time-input-wrapper label {
  margin-bottom: 5px;
  font-weight: 300;
}
.add-modal-content .reminder-time-input-wrapper input {
  border: 2px solid var(--border-color);
  padding: 10px 3px;
}
.add-modal-content .btn-wrapper {
  margin-top: 50px;
}
.add-modal-content .btn-wrapper button {
  padding: 10px;
  width: 130px;
  font-family: "roboto";
  border: 2px solid var(--primary);
  background-color: white;
  border-radius: 50px;
  font-size: 1rem;
}
.add-modal-content .btn-wrapper .submit-btn {
  background-color: var(--primary);
  color: white;
  margin-right: 16px;
}
.add-modal-content .btn-wrapper .cancel-btn {
  border-color: #ff5252;
}

@keyframes modal-bd {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes modal {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% + -100px));
  }
  100% {
    opacity: 1;
    transform: translate(-50%, calc(-50%));
  }
}
img {
  display: block;
  font-size: 0rem;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

body {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #0c23c6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-navbar);
  height: 100%;
  padding: 50px 16px;
}
.navbar .navitem {
  margin-bottom: 20px;
}
.navbar .navitem img {
  width: 35px;
}

.container {
  padding: 32px 80px 50px 180px;
  height: 100%;
}

.header {
  font-family: "rockwell";
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .heading h1 {
  display: inline;
  font-size: 3.75rem;
}
.header .heading span {
  margin-right: 7px;
  font-size: 3.75rem;
  color: #5a5a5a;
}
.header .logout-btn {
  display: flex;
  align-items: center;
  border: 2px solid #dbdbdb;
  border-radius: 8px;
  padding: 10px 12px;
  background: transparent;
}
.header .logout-btn:hover {
  transition: all 300ms;
  background-color: #484848;
  border-color: #484848;
}
.header .logout-btn:hover span {
  transition: all 300ms;
  color: white;
}
.header .logout-btn:hover svg path {
  transition: all 300ms;
  fill: white;
}
.header .logout-btn span {
  font-size: 1.875rem;
  color: #484848;
}
.header .logout-btn img,
.header .logout-btn svg {
  display: block;
  font-size: 0rem;
  margin-left: 10px;
  width: 20px;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 0 0;
}

.habits-container {
  width: 100%;
}
.habits-container .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}
.habits-container .section-header .heading {
  font-size: 1.5rem;
  font-family: "rockwell";
}
.habits-container .section-header .add-btn {
  display: flex;
  align-items: center;
  background-color: #0c23c6;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 60px;
}
.habits-container .section-header .add-btn span {
  font-size: 1.375rem;
}
.habits-container .section-header .add-btn .icon img {
  width: 24px;
  margin-left: 4px;
}
.habits-container .habits-list {
  margin-top: 40px;
  padding: 0 20px;
  height: auto;
}

.illustration-container {
  width: 100%;
}
.illustration-container img {
  width: 100%;
}

.habit {
  border: 2px solid #dbdbdb;
  font-family: "lato";
  padding: 5px 40px;
  border-radius: 160px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.habit.completed {
  border: 2px solid #00c990;
}
.habit.completed .icon {
  background-color: #00c990;
  border: none;
}
.habit .icon {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 2px solid #9f9f9f;
}
.habit .wrapper .title span {
  color: #143162;
  font-size: 1.5rem;
  font-weight: 700;
}
.habit .wrapper .repeat-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.habit .wrapper .repeat-info span {
  font-size: 0.8rem;
  font-weight: 400;
  color: #878787;
  margin-left: 4px;
}
.habit .time span {
  color: #606060;
  font-size: 0.875rem;
  font-weight: bold;
  display: block;
}

.login-container {
  height: 100%;
  padding: 80px 0;
}

.login-wrapper {
  display: flex;
  max-width: 900px;
  margin: 0px auto 0px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 100%;
}
.login-wrapper .left {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  position: relative;
}
.login-wrapper .left .img-container {
  width: 100%;
  height: 100%;
}
.login-wrapper .left .img-container img {
  width: 100%;
}
.login-wrapper .left .wave-1 {
  position: absolute;
  top: 0;
  left: 0;
}
.login-wrapper .left .wave-1 img {
  max-width: 200px;
}
.login-wrapper .left .wave-2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.login-wrapper .left .wave-2 img {
  max-width: 200px;
}
.login-wrapper .right {
  width: 100%;
  padding: 10%;
}
.login-wrapper .right .heading {
  font-family: "rockwell";
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}
.login-wrapper .right .login-form {
  display: flex;
  flex-direction: column;
  font-family: "roboto";
}
.login-wrapper .right .login-form .username-input-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.login-wrapper .right .login-form .password-input-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.login-wrapper .right .login-form label {
  font-size: 0.7rem;
  font-weight: 400;
  color: #777777;
  margin: 0px 0 3px 1px;
  display: block;
}
.login-wrapper .right .login-form input {
  border: 2px solid #dddddd;
  border-radius: 3px;
  padding: 10px;
  display: block;
  width: 100%;
}
.login-wrapper .right .login-form .warning {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  font-size: 0.7rem;
  margin: 0px 0 0 3px;
  color: var(--warning-color);
  opacity: 0;
  transition: opacity 300ms;
}
.login-wrapper .right .login-form .warning.show {
  opacity: 1;
}
.login-wrapper .right .login-form a {
  text-decoration: none;
}
.login-wrapper .right .login-form .forgot-password {
  position: absolute;
  top: calc(100% + 3px);
  width: 100%;
}
.login-wrapper .right .login-form .forgot-password a {
  float: right;
  color: #777777;
  font-size: 0.7rem;
}
.login-wrapper .right .login-form .login-btn {
  margin-top: 40px;
  background-color: #0c23c6;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
}
.login-wrapper .right .login-form .signup-link {
  font-size: 1rem;
  text-align: center;
  margin-top: 24px;
}
.login-wrapper .right .login-form .signup-link a {
  color: #09177a;
  font-weight: 500;
}

.signup-container {
  height: 100vh;
  padding: 60px 0;
}

.signup-wrapper {
  display: flex;
  max-width: 900px;
  margin: 0px auto 0px;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: 100%;
}
.signup-wrapper .left {
  overflow: hidden;
  border-radius: 40px 0 0 40px;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  position: relative;
  z-index: -2;
}
.signup-wrapper .left .img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.signup-wrapper .left .img-container img {
  width: 100%;
}
.signup-wrapper .left .wave-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.signup-wrapper .left .wave-1 img {
  max-width: 200px;
}
.signup-wrapper .left .wave-2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.signup-wrapper .left .wave-2 img {
  max-width: 200px;
}
.signup-wrapper .right {
  width: 100%;
  padding: 5% 10% 0;
}
.signup-wrapper .right .heading {
  font-family: "rockwell";
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 2rem;
}
.signup-wrapper .right .signup-form {
  display: flex;
  flex-direction: column;
  font-family: "roboto";
}
.signup-wrapper .right .signup-form .username-input-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.signup-wrapper .right .signup-form .password-input-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.signup-wrapper .right .signup-form .mobile-input-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.signup-wrapper .right .signup-form label {
  font-size: 0.7rem;
  font-weight: 400;
  color: #777777;
  margin: 0px 0 3px 1px;
  display: block;
}
.signup-wrapper .right .signup-form input {
  border: 2px solid #dddddd;
  border-radius: 3px;
  padding: 10px;
  display: block;
  width: 100%;
}
.signup-wrapper .right .signup-form .warning {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  font-size: 0.7rem;
  margin: 0px 0 0 3px;
  color: var(--warning-color);
  opacity: 0;
  transition: opacity 300ms;
}
.signup-wrapper .right .signup-form .warning.show {
  opacity: 1;
}
.signup-wrapper .right .signup-form .iti {
  width: 100%;
}
.signup-wrapper .right .signup-form .mobile-input {
  width: 100%;
  padding-left: 40px;
}
.signup-wrapper .right .signup-form a {
  text-decoration: none;
}
.signup-wrapper .right .signup-form .signup-btn {
  margin-top: 25px;
  background-color: #0c23c6;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
}
.signup-wrapper .right .signup-form .login-link {
  font-size: 1rem;
  text-align: center;
  margin-top: 16px;
}
.signup-wrapper .right .signup-form .login-link a {
  color: #09177a;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
